{% extends 'site/simple/editor.html.twig' %}

{% set mainPath = 'site_' ~ 'eucharist' %}
{% set title = 'title.eucharists'|trans %}


{%  block moreFields1 %}	
    <div class='input-group date' id='datetimepicker1'>
		{{ form_widget(form.date, { 'label': 'label.eucharist.date'|trans }) }}
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker();
		});
	</script>
	
    <div class="hidden">
    	{{ form_row(form.group, { 'label': 'label.eucharist.group'|trans }) }}
    </div>
    {{ form_row(form.info, { 'label': 'label.eucharist.info'|trans }) }}
    
    {{ form_row(form.siglum1st, { 'label': 'label.eucharist.siglum1st'|trans }) }}
    {{ form_row(form.siglumRes, { 'label': 'label.eucharist.siglumRes'|trans }) }}
    {{ form_row(form.siglum2nd, { 'label': 'label.eucharist.siglum2nd'|trans }) }}
    {{ form_row(form.siglumAkl, { 'label': 'label.eucharist.siglumAkl'|trans }) }}
    {{ form_row(form.siglumGos, { 'label': 'label.eucharist.siglumGos'|trans }) }}
    
    {{ form_row(form.introIntBy, { 'label': 'label.eucharist.introIntBy'|trans }) }}
    {{ form_row(form.intro1stBy, { 'label': 'label.eucharist.intro1stBy'|trans }) }}
    {{ form_row(form.intro2ndBy, { 'label': 'label.eucharist.intro2ndBy'|trans }) }}
    {{ form_row(form.introGosBy, { 'label': 'label.eucharist.introGosBy'|trans }) }}
    
    {{ form_row(form.prayerBy, { 'label': 'label.eucharist.prayerBy'|trans }) }}
    
    {{ form_row(form.breadBy, { 'label': 'label.eucharist.breadBy'|trans }) }}
    {{ form_row(form.flowersBy, { 'label': 'label.eucharist.flowersBy'|trans }) }}
    
    {{ form_row(form.songInt, { 'label': 'label.eucharist.songInt'|trans }) }}
    {{ form_row(form.songPce, { 'label': 'label.eucharist.songPce'|trans }) }}
    {{ form_row(form.songBr1, { 'label': 'label.eucharist.songBr1'|trans }) }}
    {{ form_row(form.songBr2, { 'label': 'label.eucharist.songBr2'|trans }) }}
    {{ form_row(form.songBr3, { 'label': 'label.eucharist.songBr3'|trans }) }}
    {{ form_row(form.songWn1, { 'label': 'label.eucharist.songWn1'|trans }) }}
    {{ form_row(form.songWn2, { 'label': 'label.eucharist.songWn2'|trans }) }}
    {{ form_row(form.songWn3, { 'label': 'label.eucharist.songWn3'|trans }) }}
    {{ form_row(form.songOut, { 'label': 'label.eucharist.songOut'|trans }) }}
{%  endblock %}