{% extends 'site/simple/list.html.twig' %}

{% set mainPath = 'site_' ~ 'eucharist' %}
{% set title = 'title.eucharists'|trans %}

{% block mainContentTitle %}
{% endblock %}

{% block headerMoreFields2 %}
<div class="col-xs-4 col-sm-2">
	<h4 class="list-header">
		<span class="fa fa-calendar"></span> 
		{{ 'label.eucharist.date'|trans }}
	</h4> 
</div>

<div class="row hidden-xs col-sm-6">
	<h4 class="list-header">
		<span class="fa fa-book"></span> 
		{{ 'label.eucharist.sigla'|trans }}
	</h4>
</div>
{% endblock %}

{% block actionsBlock %}
	{% if is_granted('ROLE_RESPONSIBLE') %}
		<div class="btn-group btn-group-justified lowered" role="group">
			<a class="btn btn-success" href="{{ path(mainPath ~ '_new') }}">
				<i class="fa fa-plus"></i> {{ 'action.new'|trans }}
			</a>				
		</div>
	{% endif %}
{% endblock %}

{% block entryMoreFields2 %}
<div class="col-xs-4 col-sm-2">{{ entry.date|date("d.m.Y H:i") }} </div>

<div class="row hidden-xs col-sm-6">
	<div class="col-xs-4">{{ entry.siglum1st }} </div>
	<div class="col-xs-4">{{ entry.siglum2nd }} </div>
	<div class="col-xs-4">{{ entry.siglumGos }} </div>
</div>
{% endblock %}