{% extends 'site/simple/show.html.twig' %}

{% set mainPath = 'site_' ~ 'eucharist' %}
{% set title = 'title.eucharists'|trans %}

{% block moreFields1 %}
	<div class="row">
		<div class="col-sm-4">
			<p class="text-sm-right show-label">{{ 'label.eucharist.date'|trans }}</p>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-xs-4">
					<p>{{ entry.date|date('d.m.Y') }}</p>
				</div>
				<div class="col-xs-4">
					<p>{{ entry.info }}</p>
				</div>
			</div>
		</div>
	</div>
{%  endblock %}

{%  block moreFields2 %}
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.intro'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				{% if entry.introIntBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.introIntBy }}</p>
				{% endif %}
			</div>
			<div class="col-xs-4">
				{% if entry.songInt != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songInt }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.siglum1st'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4">
				<p>{{ entry.siglum1st }}</p>
			</div>
			<div class="col-xs-4">
				{% if entry.intro1stBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.intro1stBy }}</p>
				{% endif %}
			</div>
			<div class="col-xs-4">
				{% if entry.siglumRes != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.siglumRes }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.siglum2nd'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4">
				<p>{{ entry.siglum2nd }}</p>
			</div>
			<div class="col-xs-4">
				{% if entry.intro2ndBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.intro2ndBy }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.siglumGos'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4">
				<p>{{ entry.siglumGos }}</p>
			</div>
			<div class="col-xs-4">
				{% if entry.introGosBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.introGosBy }}</p>
				{% endif %}
			</div>
			<div class="col-xs-4">
				{% if entry.siglumAkl != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.siglumAkl }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.peace'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				{% if entry.songPce != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songPce }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.bread'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				{% if entry.breadBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.breadBy }}</p>
				{% endif %}
			</div>
			<div class="col-xs-4">
				{% if entry.songBr1 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songBr1 }}</p>
				{% endif %}
				{% if entry.songBr2 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songBr2 }}</p>
				{% endif %}
				{% if entry.songBr3 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songBr3 }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.wine'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				{% if entry.songWn1 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songWn1 }}</p>
				{% endif %}
				{% if entry.songWn2 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songWn2 }}</p>
				{% endif %}
				{% if entry.songWn3 != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songWn3 }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.outro'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				{% if entry.songOut != '' %}
					<p class="text-muted"><span class="fa fa-music"></span> {{ entry.songOut }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.eucharist.flowers'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				{% if entry.breadBy != '' %}
					<p class="text-muted"><span class="fa fa-user"></span> {{ entry.flowersBy }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{%  endblock %}