{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	{% block navigationBar %}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				{% block navigationHeader %}
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" 
								data-toggle="collapse" 
								data-target="#bs-example-navbar-collapse-1" 
								aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				      	</button>
						<a class="navbar-brand" href="{{ path('site') }}">
							<img alt="Brand" src="{{ asset('favicon.ico') }}">
						</a>
			    	</div>
		    	{% endblock %}
		    	
		    	{% block navigationList %}
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      			<ul class="nav navbar-nav navbar-right">
							<li {% if mainPath == 'site' %} class="active" {% endif %}><a href="{{ path('site') }}">{% trans %}title.site{% endtrans %}</a></li>
							<li {% if mainPath == 'site_article' %} class="active" {% endif %}><a href="{{ path('site_article') }}">{% trans %}title.articles{% endtrans %}</a></li>
							<li {% if mainPath == 'site_eucharist' %} class="active" {% endif %}><a href="{{ path('site_eucharist') }}">{% trans %}title.eucharists{% endtrans %}</a></li>
							<li {% if mainPath == 'site_liturgy' %} class="active" {% endif %}><a href="{{ path('site_liturgy') }}">{% trans %}title.liturgies{% endtrans %}</a></li>
							<li {% if mainPath == 'site_subject' %} class="active" {% endif %}><a href="{{ path('site_subject') }}">{% trans %}title.subjects{% endtrans %}</a></li>
							<li {% if mainPath == 'site_song' %} class="active" {% endif %}><a href="{{ path('site_song') }}">{% trans %}title.songs{% endtrans %}</a></li>
						</ul>
					</div>
				{% endblock %}
		  	</div>
		</nav>
	{% endblock %}
	
	{% block header %}
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h1>{{ title }}</h1>
				</div>
				<div class ="text-sm-bottom text-sm-right col-sm-3">
					{% if is_granted('ROLE_USER') %}
						<p>{{ 'label.welcome'|trans }} <strong>{{ app.user.username }}</strong>, <a href="{{ path('fos_user_security_logout') }}">{{ 'label.logout'|trans }}</a></p>
					{% else %}
						<p><a href="{{ path('fos_user_security_login') }}">{{ 'label.login'|trans }}</a><p>
						<p><a href="{{ path('fos_user_registration_register') }}">{{ 'label.register'|trans }}</a></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endblock %}	
		
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	
	{% block footer %}
		<div class="footer">
	  		<div class="container-fluid">
		    	<div class="col-lg-12">
		      		<p>&copy; 2016 KRK Developement</p>
		      		<div class="social-media">
	        			<a href="#"><i class="fa fa-facebook"></i></a>
		        		<a href="#"><i class="fa fa-twitter"></i></a>
		        		<a href="#"><i class="fa fa-pinterest"></i></a>
		        		<a href="#"><i class="fa fa-instagram"></i></a>
		      		</div>
		    	</div>
		  	</div>
		</div>
	{% endblock %}
{% endblock %}
