{% extends 'site/index.html.twig' %}

{% block sidebarContent %}
	{% if is_granted('ROLE_RESPONSIBLE') %}
	<div class="btn-group btn-group-justified lowered" role="group">
		<a class="btn btn-success" href="{{ path(mainPath ~ '_new') }}">
			<i class="fa fa-plus"></i> {{ 'action.new'|trans }}
		</a>				
	</div>
	<div class="btn-group btn-group-justified lowered" role="group">
		<a class="btn btn-warning {% if entry.createdBy.id != app.user.id %}disabled{% endif %}" href="{{ path(mainPath ~ '_edit', { id: entry.id }) }}">
			<i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
		</a>
	</div>
	<div class="btn-group btn-group-justified lowered" role="group">
		<a class="btn btn-danger {% if entry.createdBy.id != app.user.id %}disabled{% endif %}" href="{{ path(mainPath ~ '_delete', { id: entry.id }) }}">
			<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
		</a>
	</div>
	{% endif %}
{% endblock %}
	
{% block mainContent %}
    {% block mainFields1 %}
    {% endblock %}
    
    {% block moreFields1 %}
    {% endblock %}
    
    {% block mainFields2 %}
    {% endblock %}
    
    {% block moreFields2 %}
    {% endblock %}
    
    {% block list %}
    {% endblock %}
{% endblock %}