{% extends 'site/index.html.twig' %}

{% set title = 'title.site'|trans %}
{% set mainPath = 'site' %}

{% block content %}
	<div class="col-sm-6 col-sm-offset-3">
		<div class="row">
			<div class="col-xs-4">
				<div class="rect rounded-2 bkg-success">
					<p class="div-center logo">N</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="rect rounded-2 bkg-primary">
					<p class="div-center logo">e</p>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="rect rounded-2 bkg-warning">
					<p class="div-center logo">o</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">{{ 'header.site.welcome'|trans }}</h2>
				<p class="text-center">{{ 'text.site.welcome'|trans }}</p>
				<p class="text-center">
					{{ 'text.site.preProfile'|trans }}
					<a href="{{ path('site_user_show') }}">{{ 'text.site.profile'|trans }}</a>
					{{ 'text.site.preGroup'|trans }}
					<strong>{{ 'text.site.group'|trans }}</strong>
					{{ 'text.site.talkTo'|trans }}
				</p>
			</div>
		</div>
	</div>
{% endblock %}