{% extends 'admin/simple/show.html.twig' %}

{% set mainPath = 'admin_' ~ 'eucharist' %}
{% set title = 'title.eucharists'|trans %}

{% block moreFields1 %}
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.group'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.group.name }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.date'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.date|date('Y-m-d H:i:s') }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.info'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.info }}</div>
	<div class="col-xs-12"><hr></div>
{% endblock %}

{% block moreFields2 %}
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.siglum1st'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.siglum1st }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.siglum2nd'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.siglum2nd }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.siglumGos'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.siglumGos }}</div>
	<div class="col-xs-12"><hr></div>
	
	
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.introIntBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.introIntBy }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.intro1stBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.intro1stBy }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.intro2ndBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.intro2ndBy }}</div>
	<div class="col-xs-12"><hr></div>		
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.introGosBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.introGosBy }}</div>
	<div class="col-xs-12"><hr></div>
	
	
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.prayerBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.prayerBy }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.breadBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.breadBy }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.flowersBy'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.flowersBy }}</div>
	<div class="col-xs-12"><hr></div>
	
	
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songInt'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songInt }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songPce'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songPce }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songBr1'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songBr1 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songBr2'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songBr2 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songBr3'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songBr3 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songWn1'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songWn1 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songWn2'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songWn2 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songWn3'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songWn3 }}</div>
	<div class="col-xs-12"><hr></div>
	<div class="col-xs-12 col-md-2 col-lg-3 text-md-right"><b>{{ 'label.eucharist.songOut'|trans }}</b></div>
	<div class="col-xs-12 col-md-8 col-lg-6">{{ entry.songOut }}</div>
	<div class="col-xs-12"><hr></div>
{% endblock %}