{% extends 'site/image/list.html.twig' %}

{% set mainPath = 'site_' ~ 'article' %}
{% set title = 'title.articles'|trans %}


{% block mainContentTitle %}
{% endblock %}
	
{% block headerMainFields1 %}
{% endblock %}

{% block entryMainFields1 %}
	<div class="col-sm-4 col-md-3 article">
		<div class="rect">
			<img alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}" class="img-rounded" />
		</div>
	</div>
{% endblock %}

{% block entryMoreFields2 %}
	<div class="col-sm-8 col-md-9 article">
		<a href="{{ path(mainPath ~ '_show', { id: entry.id }) }}">
			<h2>{{ entry.name }}</h2>
		</a>
		
		<p class="text-muted">
			<span class="fa fa-calendar"></span> {{ entry.date|date("d.m.Y: h:i") }}
			<span class="hr-space"></span>
			<span class="fa fa-group"></span> {{ entry.group.name }}
			<span class="hr-space"></span>
			<span class="fa fa-user"></span> {{ entry.createdBy.username }}
		</p>
		
		<p>{{ entry.intro }}</p>
		
		<a href="{{ path(mainPath ~ '_show', { id: entry.id }) }}" class="btn btn-success">
			{{ 'label.readMore'|trans }}
		</a>
	</div>
{% endblock %}