{% extends 'site/image/show.html.twig' %}

{% set mainPath = 'site_' ~ 'article' %}
{% set title = 'title.articles'|trans %}

{% block moreFields2 %}
	<div class="row">
		<p class="text-muted text-center">
			<span class="fa fa-calendar"></span> {{ entry.date|date("d.m.Y: H:i") }}
			<span class="hr-space"></span>
			<span class="fa fa-group"></span> {{ entry.group.name }}
			<span class="hr-space"></span>
			<span class="fa fa-user"></span> {{ entry.createdBy.username }}
		</p>
		
		<p><strong>{{ entry.intro }}</strong></p>
		
		<p>{{ entry.content }}</p>
	</div>
{% endblock %}