{% extends 'site/simple/show.html.twig' %}

{% set mainPath = 'site_' ~ 'user' %}
{% set title = 'title.user'|trans %}

{% block sidebarContent %}
{% endblock %}

{% block mainFields1 %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4">
			<h2>
				{% if app.user.id == entry.id %}
					{{ 'label.welcome'|trans }} 
				{% endif %}
				<strong>{{ entry.username }}</strong>
			</h2>
		</div>
	</div>
{% endblock %}

{% block moreFields1 %}
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.name'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<p>{{ entry.username }}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.user.group'|trans }}</p>
	</div>
	<div class="col-sm-8">
		{% if entry.group %}
			<div class="row">
				<div class="col-xs-6">
					<p>{{ entry.group.name }}</p>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-xs-6">
					<p class="text-danger">
						{{ 'text.user.no_group'|trans }}
					</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.user.roles'|trans }}</p>
	</div>
	<div class="col-sm-8">
		<ul>
		{% for role in entry.roles %}
			<li>{{ role }}</li>
		{% endfor %}
		</ul>
	</div>
</div>


<div class="col-sm-8 col-sm-offset-4">
	<h2>
		{{ 'label.actions'|trans }}
	</h2>
	
	<a class="btn btn-warning" href="{{ path('fos_user_resetting_request') }}">
		<span class="fa fa-asterisk"></span>	
		{{ 'action.user.change_password'|trans }}
	</a>
	
	{% if entry.group %}
		<a class="btn btn-danger" href="{{ path(mainPath ~ '_remove', { id: entry.id }) }}">
			<span class="fa fa-minus"></span>				
			{{ 'action.user.remove_from_group'|trans }}
		</a>
	{% else %}
		<a class="btn btn-success" href="{{ path('site_group_request_new') }}">
			<span class="fa fa-mail-forward"></span>
			{{ 'action.user.send_request'|trans }}
		</a>
	{% endif %}
</div>
{% endblock %}