{% extends 'site/simple/show.html.twig' %}

{% set mainPath = 'site_' ~ 'user' %}
{% set title = 'title.user'|trans %}

{% block sidebarContent %}
{% endblock %}

{% block mainFields1 %}
	<div class="row">
		<div class="col-xs-12">
			<h2>{{ 'label.welcome'|trans }} <strong>{{ entry.username }}</strong></h2>
		</div>
	</div>
{% endblock %}

{% block moreFields1 %}
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.user.name' }}</p>
	</div>
	<div class="col-sm-8">
		<p>{{ entry.username }}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.user.group' }}</p>
	</div>
	<div class="col-sm-8">
		{% if entry.group %}
			<div class="row">
				<div class="col-xs-6">
					<p>{{ entry.group.name }}</p>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-danger" href="{{ path(mainPath ~ '_remove', { id: entry.id }) }}">
						{{ 'action.user.remove' }}
					</a>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-xs-6">
					<p class="text-danger">
						{{ 'text.user.no_group'|trans }}
					</p>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-success" href="{{ path('site_group_request_new') }}">
						{{ 'action.user.request' }}
					</a>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<p class="text-sm-right show-label">{{ 'label.user.roles' }}</p>
	</div>
	<div class="col-sm-8">
		<ul>
		{% for role in entry.roles %}
			<li>{{ role }}</li>
		{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>{{ 'label.sent_requests'|trans }}</h3>
		
		{% if entry.sentRequests|length > 0 %}
			<table class="table table-striped">
				<thead>
					<th><span class="fa fa-user"></span> {{ 'label.request.receiver' }}</th>
					<th><span class="fa fa-calendar"></span> {{ 'label.date' }}</th>
					<th><span class="fa fa-play-circle"></span> {{ 'label.actions' }}</th>
				</thead>
				<tbody>
					{% for request in entry.sentRequests %}
					<tr>
						<td>
							<p>{{ request.receiver.username }}</p>
						</td>
						<td>
							<p>{{ request.createdAt|date('d-m-Y') }}</p>
						</td>
						<td>
							<a class="btn btn-danger" href="{{ path('site_group_request_delete', { id: request.id }) }}">
								<span class="fa fa-trash"></span> {{ 'action.request.remove' }}
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>{{ 'text.no_entries'|trans }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block moreFields2 %}	
{% if is_granted('ROLE_RESPONSIBLE') and entry.group %}
	<div class="row">
		<div class="col-xs-12">
			<h3>{{ 'label.users'|trans }}</h3>
			
			{% if entry.group.users|length > 0 %}
				<table class="table table-striped">
					<thead>
						<th><span class="fa fa-user"></span> {{ 'label.user' }}</th>
						<th><span class="fa fa-mail"></span> {{ 'label.email' }}</th>
						<th><span class="fa fa-play-circle"></span> {{ 'label.actions' }}</th>
					</thead>
					<tbody>
						{% for user in entry.group.users %}
						<tr>
							<td>
								<p>{{ user.username }}</p>
							</td>
							<td>
								<p>{{ user.email }}</p>
							</td>
							<td>
								<a class="btn btn-danger" href="{{ path(mainPath ~ '_remove', { id: user.id }) }}">
									<span class="fa fa-trash"></span> {{ 'action.user.remove' }}
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'text.no_entries'|trans }}</p>
			{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>{{ 'label.received_requests'|trans }}</h3>
			
			{% if entry.receivedRequests|length > 0 %}
				<table class="table table-striped">
					<thead>
						<th><span class="fa fa-user"></span> {{ 'label.request.sender' }}</th>
						<th><span class="fa fa-mail"></span> {{ 'label.user.email' }}</th>
						<th><span class="fa fa-calendar"></span> {{ 'label.date' }}</th>
						<th><span class="fa fa-play-circle"></span> {{ 'label.actions' }}</th>
					</thead>
					<tbody>
						{% for request in entry.receivedRequests %}
						<tr>
							<td>
								<p>{{ request.sender.username }}</p>
							</td>
							<td>
								<p>{{ request.sender.email }}</p>
							</td>
							<td>
								<p>{{ request.createdAt|date('d-m-Y') }}</p>
							</td>
							<td>
								<a class="btn btn-warning" href="{{ path(mainPath ~ '_add', { id: request.sender.id }) }}">
									<span class="fa fa-plus"></span> {{ 'action.user.add' }}
								</a>
								<a class="btn btn-danger" href="{{ path('site_group_request_delete', { id: request.id }) }}">
									<span class="fa fa-trash"></span> {{ 'action.request.remove' }}
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>{{ 'text.no_entries'|trans }}</p>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}