{% extends 'site/simple/list.html.twig' %}

{% set mainPath = 'site_' ~ 'song' %}
{% set title = 'title.songs'|trans %}

{% block actionsBlock %}
{% endblock %}

{% block filterMoreFields2 %}
<li class="col-xs-12 lowered">{{ form_widget(filter.stages) }}</li>
{% endblock %}

{% block mainContentTitle %}
{% endblock %}

{% block headerMainFields1 %}
<div class="col-xs-2 col-sm-1">
	<h4 class="list-header">
		<span class="fa fa-list"></span> 
	</h4>
</div>
<div class="col-xs-6 col-sm-6">
	<h4 class="list-header">
		<span class="fa fa-tag"></span> {{ 'label.name'|trans }}
	</h4>
</div>
{% endblock %}

{% block headerMoreFields2 %}
<div class="col-xs-4 col-sm-5">
	<h4 class="list-header">
		<span class="fa fa-graduation-cap"></span> 
		{{ 'label.song.stage'|trans }}
	</h4> 
</div>
{% endblock %}

{% block entryMainFields1 %}
<div class="col-xs-2 col-sm-1">{{ loop.index }}</div>
	
<div class="col-xs-6 col-sm-6">
	<a href="{{ path(mainPath ~ '_show', { id: entry.id }) }}">{{ entry.name }} </a>
</div>
{% endblock %}

{% block entryMoreFields2 %}
<div class="col-xs-4 col-sm-5">
	{% if app.user.group and app.user.group.stage and app.user.group.stage.id >= entry.stage.id %}
		<p class="text-success"><span class="fa fa-check"></span> {{ entry.stage.name }} </p>
	{% else %}
		<p class="text-danger"><span class="fa fa-close"></span> {{ entry.stage.name }} </p>
	{% endif %}
</div>
{% endblock %}