{% extends 'site/simple/list.html.twig' %}

{% set mainPath = 'site_' ~ 'subject' %}
{% set title = 'title.subjects'|trans %}

{% block actionsBlock %}
{% endblock %}

{% block mainContentTitle %}
{% endblock %}

{% block headerMoreFields2 %}
<div class="col-xs-4 col-sm-2">
	<h4 class="list-header">
		<span class="fa fa-graduation-cap"></span> 
		{{ 'label.subject.stage'|trans }}
	</h4> 
</div>
<div class="col-xs-4 col-sm-6">
	<h4 class="list-header">
		<span class="fa fa-quote-right"></span> 
		{{ 'label.subject.liturgies'|trans }}
	</h4> 
</div>
{% endblock %}

{% block entryMoreFields2 %}
<div class="col-xs-4 col-sm-2">
	{{ entry.stage.name }}
</div>
<div class="col-xs-4 col-sm-2">
	{% if entry.liturgies.count > 0 %}
		<a href="{{ path('site_liturgy_show', { id: entry.liturgies.get(0).id }) }}">{{ entry.liturgies.get(0).date|date("d.m.Y") }} </a>
	{% else %}
		-
	{% endif %}
</div>
<div class="col-xs-4 col-sm-2">
	{% if entry.liturgies.count > 1 %}
		<a href="{{ path('site_liturgy_show', { id: entry.liturgies.get(1).id }) }}">{{ entry.liturgies.get(1).date|date("d.m.Y") }} </a>
	{% else %}
		-
	{% endif %}
</div>
<div class="col-xs-4 col-sm-2">
	{% if entry.liturgies.count > 2 %}
		<a href="{{ path('site_liturgy_show', { id: entry.liturgies.get(2).id }) }}">{{ entry.liturgies.get(2).date|date("d.m.Y") }} </a>
	{% else %}
		-
	{% endif %}
</div>
{% endblock %}